{% extends 'base.html.twig' %}

{% block title %}Hotel Reservation System{% endblock %}
{% block stylesheets %}
    <style>

        @keyframes slideText {
            0% {
                transform: translateX(-100%);
            }
            50% {
                transform: translateX(100%);
            }
            100% {
                transform: translateX(-100%);
            }
        }

        h1 {
            text-align: center;
            overflow: hidden;
            white-space: nowrap;
            animation: slideText 24s linear infinite;
            animation-direction: alternate;
            animation-iteration-count: 1;
        }
    </style>
{% endblock %}
{% block body %}
    {% if (is_granted('ROLE_ADMIN'))%}
        <h1 style="text-align: center">Hotel Reservation System</h1>

        <table class="table">
            <thead>
            <tr>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'id' }) }}">ID</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'Name' }) }}">Name</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'Lastname' }) }}">Lastname</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'PhoneNumber' }) }}">Phone Number</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'HowManyAdultPeople' }) }}">How Many Adults</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'HowManyKids' }) }}">How Many Kids</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'DateFrom' }) }}">Date From</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'DateTo' }) }}">Date To</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'price' }) }}">Price</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hotel_reservation in hotel_reservations %}
                <tr>
                    <td>{{ hotel_reservation.id }}</td>
                    <td>{{ hotel_reservation.Name }}</td>
                    <td>{{ hotel_reservation.Lastname }}</td>
                    <td>{{ hotel_reservation.PhoneNumber }}</td>
                    <td>{{ hotel_reservation.HowManyAdultPeople }}</td>
                    <td>{{ hotel_reservation.HowManyKids }}</td>
                    <td>{{ hotel_reservation.DateFrom ? hotel_reservation.DateFrom|date('Y-m-d') : '' }}</td>
                    <td>{{ hotel_reservation.DateTo ? hotel_reservation.DateTo|date('Y-m-d') : '' }}</td>
                    <td>{{ hotel_reservation.Price }}


                    </td>

                    <td>
                        <a class="btn btn-primary" href="{{ path('app_hotel_reservation_show', {'id': hotel_reservation.id}) }}" role="button">Show</a>

                        <a class="btn btn-primary" href="{{ path('app_hotel_reservation_edit', {'id': hotel_reservation.id}) }}" role="button">Edit</a>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('app_hotel_reservation_new') }}" role="button">Create new</a>
        <a class="btn btn-danger" href="{{ path('app_logout') }}" role="button">Logout</a>

    {% endif %}

    {% if (is_granted('ROLE_SECRETARY') and (is_granted('ROLE_USER')))%}
        <h1 style="text-align: center">Hotel Reservation System</h1>

        <table class="table">
            <thead>
            <tr>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'id' }) }}">ID</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'Name' }) }}">Name</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'Lastname' }) }}">Lastname</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'PhoneNumber' }) }}">Phone Number</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'HowManyAdultPeople' }) }}">How Many Adults</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'HowManyKids' }) }}">How Many Kids</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'DateFrom' }) }}">Date From</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'DateTo' }) }}">Date To</a></th>
                <th><a href="{{ path('app_hotel_reservation_index', { 'sort_by': 'price' }) }}">Price</a></th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for hotel_reservation in hotel_reservations %}
                <tr>
                    <td>{{ hotel_reservation.id }}</td>
                    <td>{{ hotel_reservation.Name }}</td>
                    <td>{{ hotel_reservation.Lastname }}</td>
                    <td>{{ hotel_reservation.PhoneNumber }}</td>
                    <td>{{ hotel_reservation.HowManyAdultPeople }}</td>
                    <td>{{ hotel_reservation.HowManyKids }}</td>
                    <td>{{ hotel_reservation.DateFrom ? hotel_reservation.DateFrom|date('Y-m-d') : '' }}</td>
                    <td>{{ hotel_reservation.DateTo ? hotel_reservation.DateTo|date('Y-m-d') : '' }}</td>
                    <td>{{ hotel_reservation.Price }}


                    </td>

                    <td>
                        <a class="btn btn-primary" href="{{ path('app_hotel_reservation_show', {'id': hotel_reservation.id}) }}" role="button">Show</a>



                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-danger" href="{{ path('app_logout') }}" role="button">Logout</a>
        <a class="btn btn-primary" href="{{ path('app_hotel_reservation_new') }}" role="button">Create new</a>
    {% elseif not is_granted("ROLE_ADMIN") %}
        <h1>You dont have any permissions on this account </h1>
        <a class="btn btn-primary" href="{{ path('app_login') }}" role="button">Login</a>
        <a class="btn btn-primary" href="{{ path('app_register') }}" role="button">Register</a>
    {% endif %}



{% endblock %}